doctype html
html(lang="en")
  head
    title= title + ' | Sandglass'
    meta(charset="utf-8")

    link( href="/bower/font-awesome/css/font-awesome.css",
          rel="stylesheet",
          type="text/css",
          media="screen" )

    link( href="/dist/sandglass.css",
          rel="stylesheet",
          type="text/css",
          media="screen" )
  body
    div.sandglass-app
      aside.sidebar
        strong.sidebar_logo Sand glass

        block sidebar

      block header

      section.main
        if errors
          ul
            each error in errors
              li.message.message--error
                if error.field
                  a(href="#" + error.field)= error.message
                else
                  span= error

        block content