extends master

block content
  div.grid
    form( action="/login", method="post" ).login.form
      h2 Login
      div.form_group
        input( id="email"
               type="text",
               name="email",
               placeholder="Email"
               value= req ? req.email || '' : '' ).inp
      div.form_group
        input( id="password",
               type="password",
               name="password",
               placeholder="Password" ).inp
      div.form_group
        button( type="submit" ).btn Login

    form( action="/signup", method="post" ).signup.form
      h2 Signup
      div.form_group
        input( type="text",
               name="email",
               placeholder="Email" ).inp
      div.form_group
        input( type="text",
               name="name",
               placeholder="Name" ).inp
      div.form_group
        input( type="password",
               name="_rawPassword",
               placeholder="Password" ).inp
      div.form_group
        button( type="submit" ).btn Signup
