extends master

block content
  h2 Activities
  ul.timeline
    each activity in activities
      li.timeline_item.activity
        div.activity_time
          span.activity_start= activity.start
          span.activity_end= activity.end

        div.activity_info
          if activity.task
            strong.activity_task= activity.task.title

          if activity.project
            strong.activity_project= activity.project.title

          if !activity.end
            form( action="/activity/" + activity.id + "/stop", method="post" )
              button(type="submit", name="stop_tracking") Stop tracking

        p.activity_description= activity.description

block tracking
  div.track
    h2 Create activity
    form( action="/activity", method="post" )
      div.form-group
        label Project
        input( type="text", name="project" )
      div.form-group
        label Task
        input( type="text", name="task" )
      div.form-group
        label Description
        input( type="text", name="description" )
      div.form-group
        button( type="submit" ) Submit

block user
  if user
    div.header_user
      strong.header_user-name= user.name
      span.header_user-email= user.email
      div
        a.header_user-edit(href="/user-edit") Edit
        a.header_user-logout(href="/logout") Logout

