extends master

block content
  form( action="", method="get" ).range
    a(href= prev_link).range_prev
      i.fa.fa-arrow-left

    input(name="from", value=showing_from ).range_from.inp.inp--transparent.inp--width-auto
    input(name="to", value=showing_to ).range_to.inp.inp--transparent.inp--width-auto

    button(type="submit").btn Submit

    a(href= next_link).range_next
      i.fa.fa-arrow-right

    p.range_current-label This week

  ul.timeline
    each activity in activities
      li.timeline_item.activity
        div.activity_time
          span.activity_duration= activity.humanized
          span.activity_start= activity.start

          if activity.end
            span.activity_end= activity.end

        div.activity_info
          if activity.task
            strong.activity_task= activity.task.title

          if activity.project
            strong.activity_project= activity.project.title

          if !activity.end
            form( action="/activity/" + activity.id + "/stop", method="post" )
              button(type="submit", name="stop_tracking").btn--transparent
                i.fa.fa-pause
                | Stop tracking

          form( action="/activity/" + activity.id + "/delete", method="post" )
            button(type="submit", name="delete").btn--transparent
              i.fa.fa-trash
              | Delete

        p.activity_description= activity.description

block header
  header.header
    form( action="/activity", method="post" ).track
      div.form-group
        input( type="text",
               name="project",
               placeholder="Project" ).inp.track_inp.track_inp--first
      div.form-group
        input( type="text",
               name="task",
               placeholder="Task" ).inp.track_inp.track_inp--second
      div.form-group
        input( type="text",
               name="description",
               placeholder="Description" ).inp.track_inp.track_inp--third
      div.form-group
        button( type="submit" ).btn.track_submit
          i.fa.fa-clock-o
          | Submit

    if user
      div.header_user
        i.fa.fa-user.header_user-image
        strong.header_user-name= user.name
        a.header_user-logout(href="/logout")
          | Logout
          i.fa.fa-sign-out

block sidebar
  nav.navigation
    a(href="/")
      i.fa.fa-clock-o
      span Timeline
    a(href="/reports")
      i.fa.fa-book
      span Reports

